.section_general_statistic {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.date-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    width: 100%;
    border-bottom: 1px solid $color-gray;
}
.date-picker {
    height: 34px;
}
.data-values {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 50px;
}
.data-container {
    display: flex;
    flex: 50%;
    justify-content: flex-start;
    position: relative;
}
.data-container:first-of-type,
.data-container:nth-child(2) {
    border-bottom: 1px solid $color-gray;
}
.data-name{
    padding: 0 5px;
}
.data-value{
    position: absolute;
    right: 25px;
}
.chart-display {
    margin-top: 30px;
    width: 100%;
}
.filter-buttons {
    display: flex;
    justify-content: center;
}
.chart-img {
    width: 100%;
}


.section_links {
    text-align: center;
    padding-bottom: 40px;
}
.link-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.link-container {
    display: flex;
    justify-content: space-around;
    width: 60%;
    padding: 10px 0;
}
.link-container:first-of-type{
    margin-top: 25px;
}
.link-container:last-of-type{
    margin-bottom: 25px;
}
.link-container:hover {
    background-color: $color-gray;
    color: $color-orange;
}
.link-container:hover .icons-hover {
    opacity: 1;
}
.link-container:hover .link-page {
    color: $color-orange;
}
.icons-hover{
    display: flex;
    opacity: 0;
    align-items: center;
}
.icons-hover img {
    width: 14px;
    padding: 5px 10px;
    
}