/* Colors */
$paragraph-color: #000000;
$background-color: #202020;
$color-yellow: #F2CB05;
$color-yellow-dark: #F2B705;
$color-orange: #F29F05;
$color-white: #f1f1f1;
$color-black: #010101;
$color-gray: #e6e6e6;
/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: 'Cardo', serif;
$paragraph-font: 'Roboto', sans-serif;

/*Yellow palette
#F2E205
#F2CB05
#F2B705
#F29F05

*/