.section-title {
  text-transform: uppercase;
  font-family: $brand-font;
  font-size: 20px;
  padding: 5px;
  border-bottom: 1px solid $color-gray;
  color: rgb(185, 181, 181);
  letter-spacing: -0.5px;
  text-align: left;
}