.vertical-bar {
  position: fixed;
  z-index: 11;
  left: -3000px;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: $background-color;
  transition: left 0.5s;

  .vertical-bar-container {
    border-bottom: 0.5px solid $color-gray;
  };

  .navigation-list {
    display: block;
        
  }

  .app-name {
    font-size: 26px;
    color: $color-yellow;
    font-family: 'Pacifico', cursive;
    margin: 15px 20px;

    img {
      height: 30px;
      width: 34px;
      padding: 0 0 0 10px;
      filter: invert(48%) sepia(79%) saturate(0%) hue-rotate(86deg) brightness(118%) contrast(119%);
      cursor: pointer;
    }
  };

  .nav-title{
    display: flex;
    justify-content: flex-start;
        
  };

  .nav-link {
    color: $color-white;
    border: none;
    padding: 5px;
    width: 100%;
    margin: 0;

    img{
      filter: invert(48%) sepia(79%) saturate(0%) hue-rotate(86deg) brightness(118%) contrast(119%);
    }
        
  };

  .nav-link.active {
    background-color: $color-yellow-dark;
    color: #010101;

    img{
      filter: invert(48%) sepia(100%) saturate(100%) hue-rotate(86deg) brightness(100%) contrast(100%);
    }
  }
}

.change.vertical-bar{
  left: 0;
}

.navigation-title {
  color: $color-yellow;
  font-size: 14px;
  padding: 16px;
  display: flex;

  img{
    width: 15px;
    height: 15px;
    padding: 1px 5px;
    filter: invert(48%) sepia(100%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%);
  }
}

.contact-container {
  display: flex;
  color: $color-white;
  padding: 2px 16px;
  font-size: 14px;
  align-items: center;
  cursor: pointer;

  .contact-name {
    margin-right: 10px;
  }
}

.contact-img {
  position: relative;
  
  img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}

.contact-img::after {
  content: "";
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: green;
  top: 2px;
  right: 0;
  z-index: 15;
}